[RSS]
urls =
    https://example.com/rss1
    https://example.com/rss2

[Discord]
webhook_url = YOUR_DISCORD_WEBHOOK_URL

[General]
# Check for updates every 300 seconds, set to 0 to run once and then quit (when using in a scheduled task)
CHECK_INTERVAL = 300  
# Only alert on posts younger than 1 day.
MAX_POST_AGE_DAYS = 1 