[Feeds]
Feed1 = https://example.com/rss
Feed2 = https://anotherexample.com/feed
Feed3 = https://someotherfeed.com/rss

[General]
sleep_interval = 3000
processed_entries_file = my_processed_entries.json
webhook_url = https://discord.com/api/webhooks/xxx/yyy